## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++
5. Scala

Some of the commonly used libraries used by Data Scientists include: <br>
    1. NumPy <br>
    2. Mathplot <br>
    3. Ggplot <br>
    4. Scikitlearn <br>
    5. R library <br>
    6. Libraries of other languages <br>

<table>
  <tr>
    <th>Data Science tools</th>
  </tr>
  <tr><td>Rstudio</td></tr>
  <tr><td>Apache Spark</td></tr>
  <tr><td>Python</td></tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [22]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [32]:
200/60

3.3333333333333335

**Objectives:** <br>
List popular languages for Data Science <br>
Identify Data Science tools <br>
Familiarize with Data Science libraries <br>

## Author
Marie